body {
	width: 100%;
	margin: 0;
	padding: 0;
	font: {
		family: Arial, HelveticaNeue, Helvetica, Sans-serif;
		size: 16px;
		weight: normal;
	}
}

.loader-x48 {
	background-image: url(#{$imagesPath}loaders/loaderX48.gif);
	margin: 0 auto;
	height: 48px;
	width: 48px;
}

.top {
	width: 96%;
	height: 30px;
	padding: 20px 2%;
	margin: 0;
	background-color: $colorBlack;

	h2 {
		font: {
			size: 2em;
			weight: bold;
		};
		color: #fff;
	}
}

.section {
	min-height: 200px;
	margin: 0 auto;
}

.status {
	width: 100%;
	height: 60px;
	padding: 15px 0;
	margin: 0 0 20px 0;
	text-align: center;
	text-transform: uppercase;
	font: {
		size: 45px;
		weight: bold;
	};
}

.status-free {
	background-color: $colorGreen;
}
.status-occupied {
	background-color: $colorBlue;
}
.status-gameOn {
	background-color: $colorRed;
}

.calendar {
	width: 50%;
	margin: 0 auto;
	text-align: center;

	header {
		height: 50px;
		font: {
			size: 30px;
			weight: bold;
		};
	}
	> div  {
		$padding: 15px;
		height: 40px - $padding;
		padding: $padding 0 0 0;
		border-bottom: 1px solid $colorGray;
		text-align: center;
		font: {
			size: 20px;
			weight: bold;
		};

		span {
			display: block;
			width: 100px;
			float: left;
			margin-right: 10px;
			text-align: right;
			font-weight: normal;
		}
		span:after {
			content: ":";
		}
	}
	.calendar-title {

	}
}

.score {
	width: 50%;
	margin: 0 auto;
	text-align: center;

	header {
		height: 40px;
		font: {
			size: 30px;
			weight: bold;
		};
	}

	.actual-score {
		font: {
			size: 50px;
			weight: bold;
		};
	}

	.actual-screen {
		margin: 15px 0 0 0;
	}
}
