/**
* Mixin for generating icons
*/
@mixin icon($file){
	.icon-#{$file} {
		@include dashboard-icons-sprite($file);
		height: dashboard-icons-sprite-height($file);
		width: dashboard-icons-sprite-width($file);
	}
}
@mixin icon-style($file){
	@include dashboard-icons-sprite($file);
	height: dashboard-icons-sprite-height($file);
	width: dashboard-icons-sprite-width($file);
}

/**
 * Breakpoints
 */
@mixin sch-breakpoint($point) {
	@if $point == smartphone-big {
		@media (min-width: 480px) { @content; }
	}
	@else if $point == tablet {
		@media (min-width: 641px) { @content; }
	}
	@else if $point == tablet-big {
		@media (min-width: 768px) { @content; }
	}
	@else if $point == web {
		@media (min-width: 1024px)  { @content; }
	}
	@else if $point == web-big {
		@media (min-width: 1200px)  { @content; }
	}
};

@mixin sch-breakpoint-smaller($point) {
	@if $point == tablet-big {
		@media (max-width: 768px) { @content; }
	}
};
