/* line 17, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/**
* Mixin for generating icons
*/
/**
 * Breakpoints
 */
/* line 1, _layout.scss */
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, HelveticaNeue, Helvetica, Sans-serif;
  font-size: 16px;
  font-weight: normal;
}

/* line 12, _layout.scss */
.loader-x48 {
  background-image: url(../img/loaders/loaderX48.gif);
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

/* line 19, _layout.scss */
.top {
  width: 96%;
  height: 30px;
  padding: 20px 2%;
  margin: 0;
  background-color: black;
}
/* line 26, _layout.scss */
.top h2 {
  font-size: 2em;
  font-weight: bold;
  color: #fff;
}

/* line 35, _layout.scss */
.section {
  min-height: 200px;
  margin: 0 auto;
}

/* line 40, _layout.scss */
.status {
  width: 100%;
  height: 60px;
  padding: 15px 0;
  margin: 0 0 20px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: bold;
}

/* line 53, _layout.scss */
.status-free {
  background-color: #a2ff00;
}

/* line 56, _layout.scss */
.status-occupied {
  background-color: #72abff;
}

/* line 59, _layout.scss */
.status-gameOn {
  background-color: #ff4f12;
}

/* line 63, _layout.scss */
.calendar {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
/* line 68, _layout.scss */
.calendar header {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
}
/* line 75, _layout.scss */
.calendar > div {
  height: 25px;
  padding: 15px 0 0 0;
  border-bottom: 1px solid #bbbbbb;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
/* line 86, _layout.scss */
.calendar > div span {
  display: block;
  width: 100px;
  float: left;
  margin-right: 10px;
  text-align: right;
  font-weight: normal;
}
/* line 94, _layout.scss */
.calendar > div span:after {
  content: ":";
}

/* line 103, _layout.scss */
.score {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
/* line 108, _layout.scss */
.score header {
  height: 40px;
  font-size: 30px;
  font-weight: bold;
}
/* line 116, _layout.scss */
.score .actual-score {
  font-size: 50px;
  font-weight: bold;
}
/* line 123, _layout.scss */
.score .actual-screen {
  margin: 15px 0 0 0;
}
