<div class="status status-<%= status %>"><%= status %></div>

<% if(status === "occupied") {%>
    <div class="calendar section">
        <header>There is an event in this room:</header>
        <div class="calendar-title"><span class="label">Type</span><%= calendar.title %></div>
        <div class="calendar-event-owner"><span class="label">Owner</span><%= calendar.eventOwner %></div>
        <div class="calendar-start-date"><span class="label">Start</span><%= calendar.startDate %></div>
        <div class="calendar-finish-date"><span class="label">End</span><%= calendar.finishDate %></div>
    </div>
<% }
else if(status === "gameOn") {%>
    <div class="score section">
        <header>Actual score</header>
        <div class="actual-score">
            <span class="score-red"><%= 0 %></span> :
            <span class="score-blue"><%= 0 %></span>
        </div>
        <div class="actual-screen"><img src="http://192.168.10.246/foosballstatus/photos/<%= movement.photo%>"></div>
    </div>
<% } %>